body{
    margin: 0;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgb(120,120,239), rgb(71,71,214));
}

#card{
    width: 90%;
    max-width: 350px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    border: 2px solid black;
    text-align: center;
}

input, select, button{
    width: 100%;
    height: 44px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 2px solid black;
}

button{
    background-color: rgb(57,57,229);
    color: white;
    border: none;
    font-size: 16px;
}

@media (hover: hover) {
    button:hover{
        background-color: rgb(173,173,241);
        transform: scale(1.05);
    }
}

button:active{
    background-color: rgb(18,18,48);
    transform: scale(0.98);
}
