body{
    margin: 0;
    height: 100vh;
    display: flex;
    background: radial-gradient(rgb(120, 120, 239),rgb(71, 71, 214));
    justify-content: center;
    align-items: center;
    text-align: center;
}
form{
    justify-content: center;
    align-items: center;
    text-align: center;
}
div{
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    max-width: 350px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}
input,select{
    width: 100%;
    height: 44px;
    border: 2px solid black;
    border-radius: 5px;
}
button{
    width: 100%;
    height: 44px;
    background-color: rgb(57, 57, 229);
    border-radius: 5px;
}