body{
    margin: 0;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(rgb(120, 239, 162), rgb(14, 159, 84));
}

#card{
    width: 90%;
    max-width: 300px;
    padding: 20px;
    background: white;
    border-radius: 12px;
    border: 2px solid black;
    text-align: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input, button{
    width: 100%;
    height: 44px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 2px solid black;
}

button{
    background-color: rgb(18, 93, 11);
    color: white;
    border: none;
    font-size: 16px;
}

@media (hover: hover) {
    button:hover{
        background-color: rgb(10, 131, 69);
    }
}

button:active{
    background-color: rgb(18,18,48);
    transform: scale(0.98);
}
a{
    text-decoration: none;
}